<header>
  <h1>Error</h1>
</header>
<section>
  <h2>Error Messages</h2>
  <div id="error-message" class="error-message">{{errorMessage}}</div>
</section>
<div class="directory">
  <ul>
    <li><a href="/channels">Back to Channel List</a></li>
  </ul>
</div>